AUTOHEAL_CONTAINER_LABEL=autoheal
AUTOHEAL_INTERVAL=60
AUTOHEAL_START_PERIOD=300
AUTOHEAL_DEFAULT_STOP_TIMEOUT=10
AUTOHEAL_FAIL_THRESHOLD=3
AUTOHEAL_BACKOFF_DURATION=1800
PUSHOVER_TOKEN=
PUSHOVER_USER=
# WEBHOOK_URL=
